*.exe
Debug/synchronic.ilk
*.log
Debug/synchronic.pdb
*.obj
Debug/vc120.pdb
*.suo
synchronic.sdf
*.opensdf
Debug/vc120.idb
*.tlog
*.pdb
*.xlsx

*.csv

test_backoff

test_condition

test_spin

*.plist

test
*.user
*.idb
*.opendb
*.ipdb
Release/synchronic.iobj
*.iobj
x64/Debug/synchronic.ilk
